/* palette */
/* 
primary: steel-teal: #668586ff;
secondary: cadet-blue: #82aeb1ff;
info: eggplant: #704c5eff;
warning: maximum-blue-purple: #a7acd9ff;
danger: tuscan-red: #7d4f50ff; 
*/

/* typography */
/* 
main: font-family: 'Arvo', serif;
title-thick: font-family: 'Montserrat', sans-serif; font-weight: 800;
title-thin: font-family: 'Montserrat', sans-serif;  font-weight: 200;
*/


.hidden {
  display: none;
}
.semi-opaque {
  background-color: rgba(0, 0, 0, 0.65);
}
.set-inline-block { display: inline-block; }

.home-page {
  color: #fff;
  background-image: url('../public/cocktails.jpg');
  background-color: #000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-card {
  border-radius: 50px;
  padding: 30px;
  margin-top: 30px
}

.cocktail-thumb {
  border-radius: 50px;
}

/* bootstrap overrides */
body {
  font-family: 'Arvo', serif !important;
  overflow-x: hidden;
}

.container-fluid { padding: 0 !important; }

.bg-primary {
  background-color: #668586ff !important;
}

.card { 
  width: 300px;
  height: 100px;
  text-align: center;
  padding-top: 20px;
}

.btn-primary {
  background-color: #668586ff !important;
}

/* start nav */
.navbar-brand {
  font-family: 'Montserrat', sans-serif !important; 
  font-weight: 800 !important;
  font-size: 30px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  color: rgb(211, 215, 250) !important;
}
/* end nav */